{% extends 'styles\base2.html' %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}

<div class="container-fluid">
  <div class="row bloco-titulo-curso">  
    <h1 class=" titulo-cadastro-curso">Cursos cadastrados</h1> 
    <a class=" btn b2 botao-curso" href="{% url 'cadastrar_cursos' %}" role="button" style="height: 40px; width: 250px;"><p class="texto-botao">Cadastrar novo curso</p></a>
    </div>
      <div class="card c1">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">
              {% for novoscursos in todos_cursos %}
              <p class="texto-modal">
              Nome: {{novoscursos.nome}}  
              <a href="{% url 'editar_cursos' novoscursos.id %}">
                <button type="button" class="btn btn-success">Editar</button>
              </a>
              <a href="{% url 'remover_cursos' novoscursos.id %}">
                  <button type="button" class="btn btn-danger">Remover</button>
                  </a>
                </p>
                {% empty %}
                <p class="texto-modal">Nenhum curso cadastrado</p>
               {% endfor %}   
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}