{% extends 'styles\base2.html' %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}
<div class="container-fluid">
  <div class="row">
    <h1 class="titulo-crud">Cadastro de modalidades</h1>
    <br/><br/><br/>
    <div class="card mod1">
      <div class="col">
        <div class="card-body">
          <div>
            <form method="post">
              {% csrf_token %}
              <div class="cruds">
                <div class='input-cadastro'>
                  <label for="nome">Nome</label><br/>
                  {% render_field form_modalidade.nome class="input"% id="nome" placeholder="Digite uma modalidade" value=""%}
                </div>
                <p class="btn-cadastro">
                  <input type="submit" value="Cadastrar" class="btn btn-success cad" />
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}