{% extends 'styles\base2.html' %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}
    <div class="container-fluid">
      <div class="row bloco-titulo-curso">
       <h1 class=" titulo-cadastro-curso"><b>Modalidades Cadastradas</b></h1>
       <a class="btn b2 botao-curso" href="{% url 'cadastro_modalidade' %}" role="button" style="height: 40px; width: 250px;"><p class="texto-botao">Cadastrar nova modalidade</p></a>
      </div>
            <div class="row">    
                <div class="card c1" style=>
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text">
                        {% for novamodalidade in todas_modalidade %}
                        <p class="texto-modal">{{novamodalidade.nome}}
                        <a href="{% url 'editar_modalidades' novamodalidade.id %}">
                          <button type="button" class="btn btn-success">Editar</button>
                        </a>
                        <a href="{% url 'remover_modalidades' novamodalidade.id %}">
                            <button type="button" class="btn btn-danger">Remover</button>
                        </a>
                        </p>
                        {% empty %}
                        <div class="alert alert-danger" role="alert">
                          Não Existem Modalidades Cadastradas!
                        </div>
                        {% endfor %}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>

    
{% endblock %}