{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}


    <div class="container-fluid">
      <div class="row">
        <div class="col-6"><h1>Áreas</h1></div>
        <div class="col-6"><a class="btn b2" href="{% url 'cadastro_area' %}" role="button" style="height: 40px; width: 40px;">
          <img src="{% static 'imgs/sinal de mais.png' %}" style="height: 15px; width: 15px;"></a></div>
      </div>
            <div class="row">    
                <div class="card c1" style=>
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text">
                        {% for novaarea in todas_areas %}
                        <p class="texto-modal">
                        Nome: {{novaarea.nome}}  
                        <a href="{% url 'editar_areas' novaarea.id %}">
                          <button type="button" class="btn btn-success">Editar</button>
                        </a>
                        <a href="{% url 'remover_areas' novaarea.id %}">
                            <button type="button" class="btn btn-danger">Remover</button>
                            </a>
                          </p>
                          {% empty %}
                          <p class="texto-modal">Nenhuma área cadastrada</p>
                         {% endfor %}   
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>

{% endblock %}