{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-5"><h1>Cadastro de área</h1></div>
    </div>
    <div class="row">    
        <div class="card c1">
        <div class="col-md-8">
        <div class="card-body">
            <div>
            <form method="post">
            {% csrf_token %}
            <p class="texto-modal">Nome:</p>
            {{ form_area.nome }} 
                
            <p style="padding-top: 10px;" class="cadastro">
            <input type="submit"value="Cadastrar" class="btn btn-success cad" /></p>
            </form>
            </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        
    
{% endblock %}