{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}

<div class="container-fluid">
  <div class="row titulo-cadastro-curso">  
    <div class="col-6"><h1>Cadastro de cursos</h1></div>  
    <div class="col-6"><a class="btn b2" href="{% url 'cadastrar_cursos' %}" role="button" style="height: 40px; width: 40px;">
      <img src="{% static 'imgs/sinal de mais.png' %}" style="height: 15px; width: 15px;"></a></div>
    </div>
      <div class="card c1">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">
              {% for novoscursos in todos_cursos %}
              <p class="texto-modal">
              Nome: {{novoscursos.nome}}  
              <a href="{% url 'editar_cursos' novoscursos.id %}">
                <button type="button" class="btn btn-success">Editar</button>
              </a>
              <a href="{% url 'remover_cursos' novoscursos.id %}">
                  <button type="button" class="btn btn-danger">Remover</button>
                  </a>
                </p>
                {% empty %}
                <p class="texto-modal">Nenhum curso cadastrado</p>
               {% endfor %}   
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}