{% extends 'styles\base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}
<div class="div-principal"> 
    <h1 class="titulo-filtro"><b>CURSOS</b></h1>
    <div class="container text-center">
    <div class="row filtro">
        <div class="col-md-4 col-sm-12 bloco1">
            <div>
                <p class="texto-filtro"><b>Filtros</b></p>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-filtro">
                    <p>Busque aqui:</p>
                    <p><input type="text" name="palavra" value="{{palavra}}" placeholder="Pesquisar" /></p>
                    </div>
                    <div>
                    {% for novaarea in listar_areas %}
                    
                    <input class="form-check-input" type="checkbox" name="area_selecao" value="{{novaarea.id}}" 
                    {% for area in areas_selecionadas %}
                        {% if novaarea.id|stringformat:"i" == area %}
                        checked
                        {% endif %}
                    {% endfor%}
                    />
                    
                      {{novaarea.nome}}  
                      {% empty %}
                    Nenhuma área cadastrada
                     {% endfor %}   
                     <p class="btn-cadastro">
                        <input type="submit" value="Buscar" class="btn btn-success cad" />
                      </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 bloco2">
            <div class="div-filtro">
            <p>Cursos Disponíveis</p>
            {% for curso in listar_cursos %}
            <ul class="list-group-item-success filtro-titulo">
                <li class="list-group-item">{{curso.nome}}</li>
            </ul>
                {% empty %}
                <div class="alert alert-danger alerta" role="alert">Nenhum curso encontrado</div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}