{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}

    <div class="container-fluid">
            <div class="row">  
                <h1>NOME DO CURSO</h1>  
                <div class="card c1" style=>
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text">
                     
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>

         <div class="container-fluid">
            <div class="row">  
                <h1>Dia a dia dos alunos</h1>  
                <div class="card c1" style=>
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text">
                     
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>

         <div class="container-fluid">
            <div class="row">  
                <h3>Comentários</h3>  
                <div class="card c1" style=>
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text">
                     
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>

{% endblock %}