{% extends 'base2.html' %} 
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}
<div class="container text-center">
  <div class="row">
    <div class="bloco-registro">
  <h2 class="titulo-login"><b>Login de administrador</b></h2>
  <form method="post" class="texto-login">
  {% csrf_token %}
  <p>Matrícula: {{ form.matricula }}</p>
  <p>Nome: {{ form.nome }}</p>
  <p>Telefone: {{ form.telefone }}</p>
  <p>Data de Nascimento: {{ form.data }}</p>
  <p>CPF: {{ form.cpf }}</p>
  <p>Senha: {{ form.password1 }}</p>
  <p>Repetir Senha: {{ form.password2 }}</p>
  
  <input type="submit" value="Cadastrar" class="botão-login-registro">
</form>
</div>  
</div>
</div>
{% endblock %}
