{% extends 'base2.html' %} 
{% load widget_tweaks %}
{% load static %}

  {% block conteudo %}
  <div class="container text-center">
    <div class="row">
      <div class="bloco-login">
    <h2 class="titulo-login"><b>Login de administrador</b></h2>
    <form method="post" class="texto-login">
      {% csrf_token %}
      
      <p>CPF: {{ form.username }}</p>
      <p>SENHA: {{ form.password }}</p>
      <input type="submit" value="Entrar" class="botão-login-registro"/>
    </form>
      </div>  
    </div>
  </div>

  {% endblock %}
