{% extends 'styles\base2.html' %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}


<div class="container-fluid">
  <div class="row bloco-titulo-cruds">
    <h1 class=" titulo-cruds"><b>Áreas Cadastradas</b></h1>
    <a class="btn b2 botao-cruds" href="{% url 'cadastro_area' %}" role="button" style="height: 40px; width: 250px;">
      <p>Cadastrar nova área</p>
    </a>
  </div>
  <div class="card are">
    <div class="row g-0">
      <div class="card-body">
        <table class="table table-success table-striped" border="2">
          <thead>
            <tr>
              <th>Nome</th>
              <th colspan="4">Actions</th>
            </tr>
          </thead>
          <tbody class="table-active">
            {% for novaarea in todas_areas %}
            <tr>
              <td>{{ novaarea.nome }}</td>
              <td>
                <n>
              </td>
              <td><a href="{% url 'editar_areas' novaarea.id %}"><button type="button"
                    class="btn btn-success">Editar</button></td></a>
              <td><a href="{% url 'remover_areas' novaarea.id %}"><button type="button"
                    class="btn btn-danger">Remover</button></td></a>
              <td>
                {% empty %}
                <div class="alert alert-danger alerta" role="alert">Não Existem Áreas Cadastradas!</div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}