.c1{
    height: 500px;
    width: 600px;
    margin-left: 360px;
    margin-right: 360px;
    margin: 0 auto; 
    color: rgb(0, 83, 0);
    background-color: rgb(0, 83, 0);
    text-align: center;
  }
  
  h1{
    color: rgb(0, 39, 0);
    text-align: center;
    margin: auto;
    float: right;
}


.b2{
    background-color: green;
    color: green;
    border-radius: 40px;
}

.b2:hover{
    background-color: rgb(0, 83, 0);
    color: rgb(0, 83, 0);
}

.texto-modal{
    color: white;
    font: size 100px;
    text-align: left;
    
}

.titulo-crud{
    text-align: center;
    margin: 0 auto;
}

.cadastro{
    text-align: left;
}

/*Login*/
.bloco-login{
    height: 400px;
    width: 400px;
    margin: 0 auto; 
    color: rgb(0, 56, 0);
    background-color: rgb(0, 56, 0);
    border-radius: 20px;
    padding-top: 30px;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
}

.texto-login, .texto-cadastro{
    color: rgb(255, 255, 255);
    padding-top: 15px;
}

.titulo-login, .titulo-cadastro{
    color: rgb(255, 255, 255);
    font-size: 1cm;
}

.botão-login-registro{
    border: 10px  rgb(78, 197, 78) solid;
    border-radius: 20px;
    background-color:  rgb(78, 197, 78);
    height: 45px;
    width: 200px;
    margin-top: 10px;
}

/*Registro*/
.bloco-registro{
    height: 650px;
    width: 400px;
    margin: 0 auto; 
    color: rgb(0, 56, 0);
    background-color: rgb(0, 56, 0);
    border-radius: 20px;
    padding-top: 30px;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
}
.registro, .login{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   padding-left: 5rem;
   padding-right: 5rem;
}

.input-box input{
    margin: 0.2rem 0;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 20px;
    text-align: center;

}
/*Cadastro curso*/
.titulo-cadastro-curso{
    margin: auto;
}

.botao-curso{ 
    margin: auto;
}

.botao-curso{
    color:white;
}

.botao-curso:hover{
    color: white;
}

.bloco-titulo-curso{
    padding-bottom: 16px;
}

/*Cruds de Listagem*/
.alert-danger{
    width: 100%;
    
}