/*__________________________Geral__________________________*/
.b1{
    background-color: green;
    color: green;
    border-radius: 40px;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
}

.b1:hover{
    background-color: rgb(0, 83, 0);
    color: rgb(0, 83, 0);
}

.texto-geral{
    color: rgb(0, 39, 0);
    font-size: 40px;
}
/*__________________________Botões Gerais__________________________*/
.b2{
    background-color: green;
    color: green;
    border-radius: 40px;
}
.b2:hover{
    background-color: rgb(0, 83, 0);
    color: rgb(0, 83, 0);
}
/*__________________________Curso, Área, Modalidade, Comentários__________________________*/
.mod, .are, .cur, .com{
    height: 500px;
    width: 665px;
    margin-left: 360px;
    margin-right: 360px;
    margin: 0 auto; 
    color: rgb(0, 83, 0);
    background-color: rgb(0, 83, 0);
    text-align: center;
  }
  
h1{
    color: rgb(0, 39, 0);
    text-align: center;
    margin: auto;
    float: right;
}

.mod, .cur, .are, .com, .mod1, .are1, .com1 {
    margin: 0 auto; 
    text-align: center;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
  }

h1{
    color:rgb(0, 56, 0);
}

/*Cruds de Cadastro*/
.are1, .mod1,.cur1{
    margin: 0 auto; 
    color: rgb(0, 83, 0);
    background-color: rgb(0, 83, 0);
    text-align: center;
}
.are1, .mod1{
    height: 150px;
    width: 350px;
}
.cur1{
    height: 390px;
    width: 350px;
}
.titulo-cruds{
    margin: auto;
}
.cruds{
    text-align: center;
}
.botao-cruds{ 
    margin: auto;
    color:white;
}

.botao-cruds:hover{
    color: white;
}

.bloco-titulo-cruds{
    padding-bottom: 16px;
}

/*Cruds de Listagem*/
.alert-danger{
    width: 100%;
}
/*__________________________Cruds__________________________*/

.titulo-crud{
    text-align: center;
    margin: 0 auto;
    color:rgb(0, 83, 0);
}

.input-cadastro input{
    border: none;
    border-radius: 10px;
    text-align: center;
}
label{
    color: white;
    padding: 3px;
}
/*__________________________Login e Registro__________________________*/
.bloco-login{
    height: 400px;
    width: 400px;
    margin: 0 auto; 
    color: rgb(0, 56, 0);
    background-color: rgb(0, 56, 0);
    border-radius: 20px;
    padding-top: 30px;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
}

.texto-login, .texto-cadastro{
    color: rgb(255, 255, 255);
    padding-top: 15px;
}

.titulo-login, .titulo-cadastro{
    color: rgb(255, 255, 255);
    font-size: 1cm;
}

.botão-login-registro{
    border: 10px  rgb(78, 197, 78) solid;
    border-radius: 20px;
    background-color:  rgb(78, 197, 78);
    height: 45px;
    width: 200px;
    margin-top: 10px;
}

.bloco-registro{
    height: 700px;
    width: 400px;
    margin: 0 auto; 
    color: rgb(0, 56, 0);
    background-color: rgb(0, 56, 0);
    border-radius: 20px;
    padding-top: 30px;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
}
.registro, .login{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   padding-left: 5rem;
   padding-right: 5rem;
}

.input-box input{
    margin: 0.2rem 0;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 20px;
    text-align: center;

}
