/*Navbar do site*/
.navbar, .offcanvas-header{
    background: url("/static/imgs/poligonos.png");
}

body {
    background-image: url("/static/imgs/fundo.png");
    padding-top: 20px;
}

.logo_if{
    border-radius: 15px;
}
.navbar-toggler {
    color:#aa3b3d;
    background-color: #aa3b3d;
}
.offcanvas-title{
   color:#ffff;
}
.offcanvas-body{
    background-color: #fAf8f9;
}

/*Geral*/
.b1{
    background-color: green;
    color: green;
}

.b1:hover{
    background-color: rgb(0, 39, 0);
    color: rgb(0, 39, 0);
}

.texto-geral{
    color: rgb(0, 39, 0);
}