main{
    padding-top: 100px;
    padding-bottom: 100px;
    }
/*__________________________Navbar do site__________________________*/
.navbar, .offcanvas-header{
    background: url("/static/imgs/poligonos.png");
}

body {
    background-image: url("/static/imgs/fundo.png");
    padding-top: 6px;
}

.logo_if{
    border-radius: 15px;
    width: 300px; 
    height: 80px;
}
.seta{
    border-radius: 50px;
    width: 60px; 
    height: 60px;
}
.navbar-brand{
    color: #ffff;
}
.navbar-toggler {
    color:#aa3b3d;
    background-color: #aa3b3d;
}
.offcanvas-title{
   color:#ffff;
}
.offcanvas-body{
    background-color: #fAf8f9;
}

/*__________________________Página inicial__________________________*/

.botao-slide{
    margin-top: 10px;
}

/*Carousel*/
.carousel{
    position: relative;
}

.carousel-control-prev, .carousel-control-next{
    bottom: 5%;
}

.carousel-indicators{
    bottom: 2%;
}

 .img2, .img3{
    height: 500px;
    width: 400px;
}

.img {
    height: 500px;
    width: 400px;   
}


.curso{ 
    text-align: left;
}


/*Bloco dos cursos*/
.blococurso{
    max-width: 1200px;
    min-width: 100px;
    max-height: 1000px;
    min-height: 400px;
    margin: 0 auto; 
    color: green;
    background-color: green;
    justify-content: center;
    padding: auto;
    padding-left: 110px;
    justify-content: center;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);

    
}

.container-curso{
    margin-top: 80px;
}

.titulo-inicio{
    text-align: center;
    margin-right: 450px;
    
}

.texto-curso1{
    margin-left: 20px;
    color: white;
    font-size: 30px;
    text-align:left;
}

.texto-curso3{
    margin-left: 60px;
    color: white;
    font-size: 30px;
    text-align:left;
}


.botao-curso{
    background-color: rgb(78, 197, 78);
    color: rgb(78, 197, 78);
    border-radius: 500px;
    height: 250px; 
    width: 250px;
   
}

.botao-curso:hover{
    background-color: rgb(0, 83, 0);
    color: rgb(0, 83, 0);
}

.texto-curso{
    color: white;
    font-size: 30px;
    text-align:left;
}

.texto-inicio{
    position:absolute;
}

.titulo-curso{
    color: rgb(255, 255, 255);
    margin-left: -110px;   
}
.rodape {
    position:absolute;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
    background: url("/static/imgs/poligonos.png");
    margin-top: 190px;
    
}

/*__________________________Filtro__________________________*/
.titulo-filtro{
    color:rgb(0, 83, 0);
}
.div-principal{
    margin-top: 20px; 
    color: #ffff;
}

.bloco1{
    height: 500px;
    width: 280px; 
    color: #ffff;
    background-color: rgb(0, 56, 0);
    margin-right: 50px;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
  }
  
.bloco2{
    height: 500px;
    width: 800px; 
    color: #ffff;
    background-color: rgb(0, 56, 0);    
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
}

.titulo-filtro{
    text-align: center;
    padding-left: 50px;
}

.texto-filtro{
    color: white;
    font-size: 1cm;
    padding-top: 13px;
}


/*__________________________Página curso__________________________*/
.bloco-pag-curso{
    height: 300px;
    width: 1200px;
    margin-left: 360px;
    margin-right: 360px;
    margin: 0 auto; 
    color: green;
    background-color: green;
}

.titulos{
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    color: rgb(0, 39, 0);
}

.titulo-topico-curso2{
    text-align: center;
    margin: 0 auto;
    margin-left: -290px;
    color: #000;
}

.bloco-pag-curso2{ 
    height: 300px;
    width: 1200px;
    margin-left: 360px;
    margin-right: 360px;
    margin: 0 auto; 
    color: rgb(0, 83, 0);
    background-color: rgb(0, 83, 0);}

.bloco-espaco{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bloco-espaco2{
    padding-top: 50px;
}

.b2{
    background-color: green;
    color: green;
    border-radius: 40px;
    margin: 0 auto;
    margin-left: -420px;
}

.b2:hover{
    background-color: rgb(0, 83, 0);
    color: rgb(0, 83, 0);
}


/*__________________________Comentários__________________________*/


