
/*Navbar do site*/
.navbar, .offcanvas-header{
    background: url("/static/imgs/poligonos.png");
}

body {
    background-image: url("/static/imgs/fundo.png");
    padding-top: 6px;
}

.logo_if{
    border-radius: 15px;
    width: 300px; 
    height: 80px;
}
.seta{
    border-radius: 50px;
    width: 60px; 
    height: 60px;
}
.navbar-brand{
    color: #ffff;
}
.navbar-toggler {
    color:#aa3b3d;
    background-color: #aa3b3d;
}
.offcanvas-title{
   color:#ffff;
}
.offcanvas-body{
    background-color: #fAf8f9;
}

/*Página inicial*/

.botao-slide{
    margin-top: 10px;
}

.rodape {
    position:absolute;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
    background: url("/static/imgs/poligonos.png");
    margin-top: 190px;
    
}

.botao-curso{
    background-color: rgb(78, 197, 78);
    color: rgb(78, 197, 78);
    border-radius: 500px;
    height: 250px; 
    width: 250px;
   
}

.botao-curso:hover{
    background-color: rgb(0, 83, 0);
    color: rgb(0, 83, 0);
}

.texto-curso{
    color: white;
    font-size: 30px;
    text-align:left;
}

.texto-inicio{
    position:absolute;
}

.titulo-curso{
    color: rgb(255, 255, 255);
    margin-left: -110px;
}
/*Filtro*/
.titulo-filtro{
    color: #000;
}
.div-principal{
    margin-top: 20px; 
    color: #ffff;
}

.bloco1{
    height: 500px;
    width: 280px; 
    color: #ffff;
    background-color: rgb(0, 56, 0);
    margin-right: 50px;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
  }
  
.bloco2{
    height: 500px;
    width: 800px; 
    color: #ffff;
    background-color: rgb(0, 56, 0);    
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
}

.titulo-filtro{
    text-align: center;
    padding-left: 50px;
}

.texto-filtro{
    color: white;
    font-size: 1cm;
    padding-top: 13px;
}

/*Página curso*/
.bloco-pag-curso{
    height: 300px;
    width: 1200px;
    margin-left: 360px;
    margin-right: 360px;
    margin: 0 auto; 
    color: green;
    background-color: green;
}

.titulo-topico-curso{
    text-align: center;
    margin: 0 auto;
    
}

.titulo-topico-curso2{
    text-align: center;
    margin: 0 auto;
    margin-left: -290px;
    color: #000;
}

.bloco-pag-curso2{ 
    height: 300px;
    width: 1200px;
    margin-left: 360px;
    margin-right: 360px;
    margin: 0 auto; 
    color: rgb(0, 83, 0);
    background-color: rgb(0, 83, 0);}

.bloco-espaco{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bloco-espaco2{
    padding-top: 50px;
}

.b2{
    background-color: green;
    color: green;
    border-radius: 40px;
    margin: 0 auto;
    margin-left: -420px;
}

.b2:hover{
    background-color: rgb(0, 83, 0);
    color: rgb(0, 83, 0);
}

/*Geral*/
.b1{
    background-color: green;
    color: green;
    border-radius: 40px;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
}

.b1:hover{
    background-color: rgb(0, 83, 0);
    color: rgb(0, 83, 0);
}

.texto-geral{
    color: rgb(0, 39, 0);
    font-size: 40px;
}

/*Comentários*/

.c1{
    margin: 0 auto; 
    text-align: center;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
  }

h1{
    color: rgb(0, 0, 0);
}

